<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <mat-toolbar>
    <h1 [routerLink]="['/']" style="cursor: pointer;"><span>S</span>tylinkt</h1>
    <span class="example-spacer"></span>
    <button [routerLink]="['/registration']" style="float: none; cursor: pointer;"><a>Join us</a></button>
  </mat-toolbar>
</header>
<main>
  <form [formGroup]="form">
    <div class="login-box">
      <mat-form-field class="input-box" appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput [type]="true ? 'password' : 'text'" formControlName="password">
      </mat-form-field>
      <mat-form-field class="input-box" appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput [type]="true ? 'password_repeat' : 'text'" formControlName="password_repeat">
      </mat-form-field>
      <p>Don't have account, <button style="cursor: pointer;" [routerLink]="['/registration']"><a>Sign up</a></button></p>
      <br>
      <div style="display: flex; flex-direction: row">
        <button (click)="onSubmit()" class="butt">Confirm</button>
      </div>
    </div>
  </form>
</main>
<footer>
  <div>
    <h2 class="link_title">Product</h2>
    <h4 class="link_subtitle">Our plan</h4>
    <h4 class="link_subtitle">Free trial</h4>
  </div>
  <div>
    <h2 class="link_title">About us</h2>
    <h4 class="link_subtitle">Request demo</h4>
    <h4 class="link_subtitle">FAQs</h4>
  </div>
  <div>
    <h2 class="link_title">Support</h2>
    <h4 class="link_subtitle">Services</h4>
    <h4 class="link_subtitle">Contact us</h4>
  </div>
  <div>
    <h2 class="link_title">Brand police</h2>
    <h4 class="link_subtitle">Reviews</h4>
    <h4 class="link_subtitle">Safety</h4>
  </div>
</footer>
<p style="background-color: #d0d5cf; padding: 6px; text-align: center;">Copyright 2022. &#xae;</p>
</body>
</html>
