* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

mat-toolbar {
    padding: 20px;
    background-color: #e5e9e4;
    height: 10vh;
}

mat-toolbar h1,span {
    font-size: 42px;
    margin-left: 2%;
    color: #2A9D8F;
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive;
}

h1 span {
    font-size: 52px;
    color: #287271;
}

main {
    background-repeat: no-repeat;
    background-image: url("../../assets/coworkers.jpg");
    background-size: cover;
    opacity: 0.90;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 4%;
    height: 100vh;
}

.example-spacer {
    flex: 1 1 auto;
}

main h1 {
    position: relative;
    text-align: center;
    color: #287271;
    font-size: 1.5em;
    padding-top: 3%;
    font-weight: bolder;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #2A9D8F!important;
    font-weight: bold;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #2A9D8F!important;
    font-weight: bold;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #2A9D8F!important;
  font-weight: bold;
}

.forma {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    position: relative;
}

.forma::before {
    content: "";
    position: absolute;
    background-color: #e5e9e4;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
    border-radius: 50px;
}

.input-box-small {
    width: 29%;
    color: #2A9D8F;
    height: 5%;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: -2%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .input-box {
    width: 60%;
    color: #2A9D8F;
    margin-left: 0.5%;
    border-radius: 10px;
    font-weight: bold;
}

.submit {
    position: relative;
    background-color: #264653;
    width: 20%;
    text-align: center;
    padding: 10px;
    color: #e5e9e4;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #e5e9e4;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: right;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left:20px !important;
    padding-right:20px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link_title {
    color: #264653;
    font-weight: bold;
    font-size: 22px;
}

.link_subtitle {
    font-weight: bold;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

