<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <mat-toolbar>
            <h1><span>S</span>tylinkt</h1>
            <span class="example-spacer"></span>
            <button [routerLink]="['/userPosts']" style="float: none; cursor: pointer;"><a>My posts</a></button>
            <button [routerLink]="['/publishPost']" style="float: none; cursor: pointer;"><a>Publish</a></button>
            <button [routerLink]="['/followingPosts']" style="float: none; cursor: pointer;"><a>Following</a></button>
            <button [routerLink]="['/createJobOffer']" style="float: none; cursor: pointer;"><a>Create offer</a></button>
            <button [routerLink]="['/jobOffers']" style="float: none; cursor: pointer;"><a>Job offers</a></button>
            <button [routerLink]="['/searchProfiles']" style="float: none; cursor: pointer;"><a>Search</a></button>
            <button *ngIf="!user.isPublic" [routerLink]="['/viewRequests']" style="float: none; cursor: pointer;"><a>Requests</a></button>
            <button (click)="logout()" style="cursor: pointer;"><a>Logout</a></button>
        </mat-toolbar>
    </header>
    <main>
        <form [formGroup]="formPrivacy" (ngSubmit)="ChangePrivacy()">
            <mat-slide-toggle color="warn" [(ngModel)]="user.isPublic" formControlName="isPublic">Profile privacy {{user.isPublic}}</mat-slide-toggle>
            <button mat-raised-button type="submit">Save</button>

        </form>
        <form [formGroup]="form" (ngSubmit)="savePersonalInfo()">
        <section class="personalInfo">
            <mat-card class="headCard">
                <h2 style="font-weight: bold;">Personal informations</h2>
            </mat-card>
            <mat-card class="card1">
                <div class="infoSec">
                   <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="" value="{{user.name}}"   formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Surname</mat-label>
                        <input matInput placeholder="" value="{{user.surname}}" formControlName="surname">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Birth date</mat-label>
                        <input matInput placeholder="" value="{{user.birthDate}}" formControlName="birthDate">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="" value="{{user.phoneNumber}}" formControlName="phoneNumber">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="" value="{{user.email}}" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="" value="{{user.username}}" formControlName="username" >
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-box">
                        <mat-label>Gender</mat-label>
                        <select formControlName="gender" value="{{user.gender}}" matNativeControl>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </mat-form-field>
                </div>
                <button class="save" style="top: 85%;">Save</button>
            </mat-card>
        </section>

        <section class="educationInfo">
            <mat-card class="headCard">
                <h2 style="font-weight: bold;">Work informations</h2>
            </mat-card>
            <mat-card class="card2">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Education</mat-label>
                        <textarea rows="10" matInput value="{{user.education}}" formControlName="education"></textarea>
                      </mat-form-field>
                      <!--<mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Work experience</mat-label>
                        <textarea rows="10" matInput value="{{user.workExperience}}" formControlName="workExperience"></textarea>
                      </mat-form-field>-->
                      <mat-list class="work" *ngFor = "let work of user.workExperiences" role="list">
                        <mat-list-item role="listitem">{{work.description}}</mat-list-item>
                      </mat-list>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Work experience</mat-label>
                        <textarea rows="5" matInput  formControlName="workExperience"></textarea>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-widthh" appearance="outline">
                        <mat-label>Biography</mat-label>
                        <textarea rows="10" matInput value="{{user.biography}}" formControlName="biography"></textarea>
                      </mat-form-field>
                </div>
                <div style="margin-bottom: 4%;">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Hobby</mat-label>
                        <textarea rows="6" matInput value="{{user.hobby}}" formControlName="hobby"></textarea>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Interests</mat-label>
                        <textarea rows="6" matInput value="{{user.interest}}" formControlName="interest"></textarea>
                      </mat-form-field>
                </div>
                <button class="save" style="top: 94%;">Save</button>
            </mat-card>
        </section>
        </form>
        
        <form [formGroup]="formPassword" (ngSubmit)="saveNewPassword()">
        <section class="securityInfo">
            <mat-card class="headCard">
                <h2 style="font-weight: bold;">Security informations</h2>
            </mat-card>
            <mat-card class="card4">
                <div>
                    <div class="pass">
                        <mat-form-field class="inputbox" appearance="outline">
                            <mat-label>Old password</mat-label>
                            <input matInput placeholder="" formControlName="oldPassword">
                        </mat-form-field>
                        <mat-form-field class="inputbox" appearance="outline">
                            <mat-label>New password</mat-label>
                            <input matInput placeholder="" formControlName="newPassword">
                        </mat-form-field>
                        <mat-form-field class="inputbox" appearance="outline">
                            <mat-label>Password repeat</mat-label>
                            <input matInput placeholder="" formControlName="passwordRepeat">
                        </mat-form-field>
                    </div>
                    
                </div>  
                <button class="save" style="top: 82%;">Save</button>              
            </mat-card>
        </section>
    </form>
    </main>

    <footer>
        <div>
          <h2 class="link_title">Product</h2>
          <h4 class="link_subtitle">Our plan</h4>
          <h4 class="link_subtitle">Free trial</h4>
        </div>
        <div>
          <h2 class="link_title">About us</h2>
          <h4 class="link_subtitle">Request demo</h4>
          <h4 class="link_subtitle">FAQs</h4>
        </div>
        <div>
          <h2 class="link_title">Support</h2>
          <h4 class="link_subtitle">Services</h4>
          <h4 class="link_subtitle">Contact us</h4>
        </div>
        <div>
          <h2 class="link_title">Brand police</h2>
          <h4 class="link_subtitle">Reviews</h4>
          <h4 class="link_subtitle">Safety</h4>
        </div>
    </footer>
    <p style="background-color: #d0d5cf; padding: 6px; text-align: center;">Copyright 2022. &#xae;</p>
</body>
</html>
