<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <mat-toolbar>
            <h1><span>S</span>tylinkt</h1>
            <span class="example-spacer"></span>
            <button><a>Join us</a></button>
            <button><a>Log in</a></button>
        </mat-toolbar>
    </header>
    <main>
        <mat-slide-toggle>Private profile</mat-slide-toggle>
        <section class="personalInfo">
            <mat-card class="headCard">
                <h2>Personal informations</h2>
            </mat-card>
            <mat-card class="card1">
                <div class="imgSec">
                    <img src="assets/coworkers.jpg">
                    <button>Change photo</button>
                </div>
                <div class="infoSec">
                   <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Surname</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Birth date</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field class="input-box" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-box">
                        <mat-label>Gender</mat-label>
                        <select matNativeControl>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </mat-form-field>
                </div>
                <button class="save">Save</button>
            </mat-card>
        </section>

        <section class="educationInfo">
            <mat-card class="headCard">
                <h2>Education and Work experience</h2>
            </mat-card>
            <mat-card class="card2">
                
            </mat-card>
        </section>

        <section class="biographyInfo">
            <mat-card class="headCard">
                <h2>My biography</h2>
            </mat-card>
            <mat-card class="card3">
                
            </mat-card>
        </section>
        
        <section class="securityInfo">
            <mat-card class="headCard">
                <h2>Security informations</h2>
            </mat-card>
            <mat-card class="card4">
                
            </mat-card>
        </section>
    </main>
</body>
</html>
