<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <mat-toolbar>
            <h1 [routerLink]="['/']" style="cursor: pointer;"><span>S</span>tylinkt</h1>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </header>
    <main>
        <div class="box">   
            <div class="img-box">
                <img src="assets/1653061023314.jpg">
            </div>
            <div class="text">
                <h1>Page not found</h1>
                <a> The page you are looking for might have been removed, had its name changed <br>
                    <a style="margin-left:650px ;">or is temporarily unavailable. </a> </a> 
            </div>
            <button class="butt" (click)="backClicked()">Go back</button>
           
        </div>
    </main>


</body>
</html>