<div>
    <div class="row">
        <div *ngFor='let r of recommendations' class="card"
            style="width: 26rem; margin-left: 4.6rem; margin-top: 3rem; border: 1; border-color: #83C3B4;">
            <div class="card-body">
                <p class="card-text mt-2" style="font-size: 20px;"><span style="color: #287271;"><b>Position:</b></span>
                    {{r.position}}</p>
                <p class="card-text mt-2" style="font-size: 20px;"><span
                        style="color: #287271;"><b>Description:</b></span> {{r.description}}</p>
                <p class="card-text mt-2" style="font-size: 20px;"><span style="color: #287271;"><b>Daily
                            activities:</b></span> {{r.dailyActivities}}</p>
                <p class="card-text mt-2" style="font-size: 20px;"><span
                        style="color: #287271;"><b>Preconditions:</b></span> {{r.precondition}}</p>
                <p class="card-text mt-2" style="font-size: 20px;"><span style="color: #287271;"><b>Published by:</b></span>
                    {{r.user}}</p>
               

                
            </div>
        </div>
    </div>
</div>