<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <mat-toolbar>
    <h1 [routerLink]="['/']" style="cursor: pointer;"><span>S</span>tylinkt</h1>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>
<main>
  <div style="text-align: center; font-size: 30px; margin-top: 10%">
    Successfull activativation! Now you can <a [routerLink]="['/']">Login!</a>
  </div>
</main>
</body>
</html>
