<router-outlet></router-outlet>
<style></style>
<div class="content" role="main">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <header>
            <mat-toolbar>
                <h1 [routerLink]="['/']" style="cursor: pointer;"><span>S</span>tylinkt - for companies</h1>
                <span class="example-spacer"></span>
            </mat-toolbar>
        </header>
    </body>
</div>
<router-outlet></router-outlet> 