<section class="survey">

    <div class="card1">

        <div>
            <div class="center">
                <h1>Job survey</h1>
            </div>
            <fieldset>
                <div class="some-class">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Environment</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="workEnvironment" type="radio" class="radio" name="we"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="workEnvironment" type="radio" class="radio" name="we"
                                value="Unsatisfied" id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="workEnvironment" type="radio" class="radio" name="we" value="Neutral"
                                id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="workEnvironment" type="radio" class="radio" name="we" value="Satisfied"
                                id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="workEnvironment" type="radio" class="radio" name="we"
                                value="Very Satisfied" id="vs" />
                            <label for="vs">Very Satisfied</label>

                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Opportunities</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="opportunities" type="radio" class="radio" name="op"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="opportunities" type="radio" class="radio" name="op" value="Unsatisfied"
                                id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="opportunities" type="radio" class="radio" name="op" value="Neutral"
                                id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="opportunities" type="radio" class="radio" name="op" value="Satisfied"
                                id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="opportunities" type="radio" class="radio" name="op"
                                value="Very Satisfied" id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Benefits</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="benefits" type="radio" class="radio" name="benef"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="benefits" type="radio" class="radio" name="benef" value="Unsatisfied"
                                id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="benefits" type="radio" class="radio" name="benef" value="Neutral"
                                id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="benefits" type="radio" class="radio" name="benef" value="Satisfied"
                                id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="benefits" type="radio" class="radio" name="benef" value="Very Satisfied"
                                id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>



            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Salary</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="salary" type="radio" class="radio" name="salary"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="salary" type="radio" class="radio" name="salary" value="Unsatisfied"
                                id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="salary" type="radio" class="radio" name="salary" value="Neutral"
                                id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="salary" type="radio" class="radio" name="salary" value="Satisfied"
                                id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="salary" type="radio" class="radio" name="salary" value="Very Satisfied"
                                id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Supervision</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="supervision" type="radio" class="radio" name="supervision"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="supervision" type="radio" class="radio" name="supervision"
                                value="Unsatisfied" id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="supervision" type="radio" class="radio" name="supervision"
                                value="Neutral" id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="supervision" type="radio" class="radio" name="supervision"
                                value="Satisfied" id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="supervision" type="radio" class="radio" name="supervision"
                                value="Very Satisfied" id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Communication</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="communication" type="radio" class="radio" name="communication"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="communication" type="radio" class="radio" name="communication"
                                value="Unsatisfied" id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="communication" type="radio" class="radio" name="communication"
                                value="Neutral" id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="communication" type="radio" class="radio" name="communication"
                                value="Satisfied" id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="communication" type="radio" class="radio" name="communication"
                                value="Very Satisfied" id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>


            <fieldset>
                <div class="some-class" style="margin-top: 2rem;">
                    <div class="row">
                        <div class="col-2">
                            <label style="color: #287271;"><b>Colleagues</b></label>
                        </div>
                        <div class="col-10">
                            <input [(ngModel)]="colleagues" type="radio" class="radio" name="colleagues"
                                value="Very Unsatisfied" id="vu" />
                            <label for="vu">Very Unsatisfied</label>
                            <input [(ngModel)]="colleagues" type="radio" class="radio" name="colleagues"
                                value="Unsatisfied" id="u" />
                            <label for="u">Unsatisfied</label>
                            <input [(ngModel)]="colleagues" type="radio" class="radio" name="colleagues" value="Neutral"
                                id="n" />
                            <label for="n">Neutral</label>
                            <input [(ngModel)]="colleagues" type="radio" class="radio" name="colleagues"
                                value="Satisfied" id="s" />
                            <label for="s">Satisfied</label>
                            <input [(ngModel)]="colleagues" type="radio" class="radio" name="colleagues"
                                value="Very Satisfied" id="vs" />
                            <label for="vs">Very Satisfied</label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <button (click)="submit()" class="publish">Submit</button>
        </div>


    </div>
</section>
