<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>

<mat-toolbar>
    <h1><span>S</span>tylinkt</h1>
    <span class="example-spacer"></span>
    <button [routerLink]="['/userPosts']" style="float: none; cursor: pointer;"><a>My posts</a></button>
    <button [routerLink]="['/publishPost']" style="float: none; cursor: pointer;"><a>Publish</a></button>
    <button [routerLink]="['/followingPosts']" style="float: none; cursor: pointer;"><a>Following</a></button>
    <button [routerLink]="['/suggestedProfiles']" style="float: none; cursor: pointer;"><a>Suggested</a></button>
    <button [routerLink]="['/createJobOffer']" style="float: none; cursor: pointer;"><a>Create offer</a></button>
    <button [routerLink]="['/jobOffers']" style="float: none; cursor: pointer;"><a>Job offers</a></button>
    <button [routerLink]="['/searchProfiles']" style="float: none; cursor: pointer;"><a>Search</a></button>
    <button *ngIf="!current.isPublic" [routerLink]="['/viewRequests']" style="float: none; cursor: pointer;"><a>Requests</a></button>
    <button (click)="logout()" style="cursor: pointer;"><a>Logout</a></button>
</mat-toolbar>

<section style="margin-top: 50px;" class="educationInfo">
    <mat-card class="headCard">
        <h2 style="font-weight: bold;">Send message</h2>
    </mat-card>
    <mat-card class="card2">
     
        <form [formGroup]="form">
        <div>
            <mat-form-field class="example-full-widthh" appearance="outline">
                <mat-label>Type...</mat-label>
                <textarea rows="10" matInput value="" formControlName="text"></textarea>
              </mat-form-field>
        </div>
        <button class="save" style="top: 87%;" (click)="onSend()">Send</button>
    </form>
    </mat-card>
</section>