<div class="row">
    <div *ngFor='let post of posts' class="card"
        style="width: 26rem; margin-left: 4.6rem; margin-top: 3rem; border: 1; border-color: #83C3B4;">
        <div>
            <img class="card-img-top p-2" src="{{post.Image}}" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><button style="color: #F29040; margin-top: -1.5rem;"
                            class="btn btn-outline-secondary">Likes</button></div>
                    <div class="col-6"><button style="color: #F29040; margin-top: -1.5rem;"
                            class="btn btn-outline-secondary">Dislikes</button></div>
                    <div class="col-4"><button style="color: #F29040; margin-left: 0.6rem; margin-top: -1.5rem;"
                            class="btn btn-outline-secondary">Comments</button></div>
                </div>
                <!--<h2 class="card-title">{{post.Id}}</h2>-->
                <p class="card-text mt-2" style="font-size: 20px;">{{post.Description}}</p>
                <a style="color: #264653;" class="btn btn-outline-secondary" href="{{post.Link}}">Show link</a>
            </div>
        </div>

    </div>


</div>